<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-7 col-md-offset-1">
    <div class="page-header">
      <h3 class="text-primary">Feedline
        <%= active_link_to(new_topic_path, :active => :exact, class: "btn btn-primary pull-right") do %>
          <%= icon('pencil fa-fw') %>&nbsp;New Topic
        <% end %>
      </h3>

    </div>
    <%= render 'topics/topics' %>
  </div>
</div>
