<div class="list-group">
  <%= active_link_to "Support", support_path, :active => :exclusive, class: "list-group-item" %>
  <%= active_link_to "How to use Aidia", support_howto_path, :active => :exclusive, class: "list-group-item" %>
  <%= active_link_to "Writing on Aidia", support_write_path, class: "list-group-item" %>
  <%= active_link_to "Report Issue", support_report_path, class: "list-group-item" %>
</div>
