<div class="jumbotron center padding-v">
  <h1 class="headline">Aidia</h1>
  <p class="lead"></p>
  <br>
  <%= link_to "Sign Up For Free", new_user_registration_path, class: "btn btn-primary uppercase bold outline" %>
</div>
