<div class="row">
  <div class="col-md-3 padding-v-custom">
    <%= render 'sidebar' %>
  </div>

  <div class="col-md-7 col-md-offset-1">
    <div class="page-header">
      <h1 class="text-primary">How to use Aidia</h1>
    </div>
    <p>
      Step-by-step guides on how to use Aidia.
    </p>
    <div class="padding-v">
      <h3 class="text-primary">1. Open Topic</h3>
      <p>
        You can assume topic is just like a category. Give it a nice title. If you want to describe more, writing a rules or anything, you can just write on the next input.
      </p>
      <%= image_tag('help/step1.png', class: "img-responsive") %>
    </div>

    <div class="padding-v">
      <h3 class="text-primary">2. Get feedback from another users.</h3>
      <p>
        Any Users on Aidia can contibute an idea to the published topic.
      </p>
      <%= image_tag('help/step2.png', class: "img-responsive") %>
    </div>

    <div class="padding-v">
      <h3 class="text-primary">3. Idea can be voted and discuss more.</h3>
      <p>
        Just like Facebook's post or Twitter's tweet, idea can be voted by Likes and can be discussed by send a comment.
      </p>
      <%= image_tag('help/step3.png', class: "img-responsive") %>
    </div>
  </div>
</div>
